
.feature-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 60px;
    letter-spacing: 0.09em;
    margin-bottom: 5%;
    color: #365FCD;
  margin-top: 10%;
  /* margin-bottom: 50px; */


}

.feature-lining{

    background-color: #365FCD;
    width: 215px;
    height: 5px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}


.feature-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feature-box{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.feature-image-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-image{
    height:120px
}

.feature-context{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 257px;
    height: 38px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 550;
    font-size: 30px;
    line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;

color: #365FCD;

margin-top: 20px;
}

.feature-sub-context{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
font-weight: 500;
margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .feature-heading{
        margin-top:10%;
        font-size: 2.2rem;
    }
    .feature-lining{

        background-color: #365FCD;
        width: 50px;
        height: 5px;
        border-radius: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    
}